[Desktop Entry]
Version=1.0
Name=webblock Application
Name[tr]=webblock Uygulaması
Type=Application
Comment=Simple Qt based webblock Application
Comment[tr]=Basit Qt tabanlı webblock Uygulaması
Terminal=false
Exec=sh -c "pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY /usr/bin/webblock-gui"
Icon=/usr/share/icons/webblock.svg
Categories=Qt;Utility;
Keywords=web;filter;block;webblock;
GenericName=webblock
Name[tr_TR]=webblock
